<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem nisi, molestias eaque sequi inventore
    architecto animi vitae natus maiores.
    </p> 
    <footer>
        <div class="media">
            <div class="media-image">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organisation">ABCD Corporation</p>
            </div>
        </div>
    </footer>
</blockquote>